@font-face {
	font-family: 'SansProBold';
	src: url('../fonts/SourceSansPro-Bold.eot') format('eot'),
		url('../fonts/SourceSansPro-Bold.svg') format('svg'),
		url('../fonts/SourceSansPro-Bold.ttf') format('ttf'),
		url('../fonts/SourceSansPro-Bold.woff') format('woff')
}

@font-face {
	font-family: 'SansProLight';
	src: url('../fonts/SourceSansPro-Light.eot') format('eot'),
	url('../fonts/SourceSansPro-Light.svg') format('svg'),
	url('../fonts/SourceSansPro-Light.ttf') format('ttf'),
	url('../fonts/SourceSansPro-Light.woff') format('woff')
}

@font-face {
	font-family: 'SansProExtraLight';
	src: url('../fonts/SourceSansPro-ExtraLight.eot') format('eot'),
	url('../fonts/SourceSansPro-ExtraLight.svg') format('svg'),
	url('../fonts/SourceSansPro-ExtraLight.ttf') format('ttf'),
	url('../fonts/SourceSansPro-ExtraLight.woff') format('woff')
}

@font-face {
	font-family: 'SansProExtraRegular';
	src: url('../fonts/SourceSansPro-Regular.eot') format('eot'),
	url('../fonts/SourceSansPro-Regular.svg') format('svg'),
	url('../fonts/SourceSansPro-Regular.ttf') format('ttf'),
	url('../fonts/SourceSansPro-Regular.woff') format('woff')
}

@font-face {
	font-family: 'SansProExtraSemiBold';
	src: url('../fonts/SourceSansPro-SemiBold.eot') format('eot'),
	url('../fonts/SourceSansPro-SemiBold.svg') format('svg'),
	url('../fonts/SourceSansPro-SemiBold.ttf') format('ttf'),
	url('../fonts/SourceSansPro-SemiBold.woff') format('woff')
}
