//IMMOBILIEN BANNER
.main-list{
  width: 100%;
  max-height: 400px;
  height: 100vh;
  background: url('../assets/Main.png') no-repeat bottom;
  background-size: cover;
  position: relative;
  @media (max-width: $screen-xs-min) {
    background: url(../assets/Main-mobile.png) no-repeat center;
    max-height: 260px;
    background-size: contain;
  }
  .gradient {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 200;
    height: 130px;
    background: linear-gradient(to bottom,#3b7eb1,#ffffff00);
    @media (max-width: 991px) {
      display: none;
    }
  }

  .wrap-form {
    width: 100%;
    position: fixed;
    top: 20%;
    left: 0;
    z-index: 101;
    @media (max-width: 991px) {
      display: none;
    }

    .collapse.show {
      visibility: visible;
      z-index: 400;
    }

    .collapsing {
      visibility: visible;
      height: 0;
      transition-property: height, visibility;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }

    .collapsing.width {
      -webkit-transition-property: width, visibility;
      transition-property: width, visibility;
      width: 0;
      height: 100%;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }

    .wrap-contacts {
      width: 100%;
      font-weight: 300;
      max-width: 800px;
      height: 100vh;
      max-height: 520px;
      background: #f1e8e8;
      display: flex;
      @media (max-width: 1479px) {
        max-height: 490px;
      }

      @media (max-width: 1479px) {
        max-width: 650px;
      }

      .form-contacts {
        width: 60%;
        border-right: 1px solid #fff;
        margin: 15px;
        @media (max-width: 1479px) {
          font-size: 14px;
        }
        @media (max-width: 1199px) {
          width: 50%;
        }

        h2 {
          font-weight: 300;
          color: #f28c17;
        }

        .contact-form {
          color: #7a7376;
          overflow: hidden;
          margin-right: 20px;

          .wrap-name {
            display: flex;
            justify-content: space-between;

            input {
              border: none;
              height: 25px;
              width: 210px;
              padding: 5px;
              display: block;
              color: #4f484a;
              @media (max-width: 1479px) {
                width: 150px;
              }
            }
          }

          label {
            font-weight: 600;
            display: flex;
            flex-direction: column;
            margin-bottom: 2px;
          }

          .input {
            input {
              border: none;
              height: 25px;
              width: 100%;
              padding: 5px;
              display: block;
              color: #4f484a;
            }
          }

          textarea {
            border: none;
            height: 110px;
            padding: 5px;
            display: block;
            color: #4f484a;
            margin-top: 5px;
          }

          .checkbox {
            display: block;
            margin: 0 auto;
            /* Base for label styling */

            [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
              position: absolute;
              left: -100%;
              outline: none;
            }

            [type="checkbox"]:not(:checked) + label,
            [type="checkbox"]:checked + label {
              position: relative;
              display: inline-block;
              padding-left: 20px;
              cursor: pointer;
              outline: none;
              font-weight: 200;
            }

            [type="checkbox"]:not(:checked) + label:before,
            [type="checkbox"]:checked + label:before {
              content: '';
              position: absolute;
              left: 10px;
              top: 12px;
              width: 17px;
              height: 17px;
              border: 1px solid #7f7f7f;
              background: #fff;
              border-radius: 0;
              outline: none;
              transform: translate(-50%, -50%);
            }

            /* checked mark aspect */

            [type="checkbox"]:not(:checked) + label:after,
            [type="checkbox"]:checked + label:after {
              content: '✔';
              position: absolute;
              top: 1px;
              left: 4px;
              font-size: 14px;
              color: #7f7f7f;
              transition: all .2s;
            }

            /* checked mark aspect changes */

            [type="checkbox"]:not(:checked) + label:after {
              opacity: 0;
              transform: scale(0);
              outline: none;
            }

            [type="checkbox"]:checked + label:after {
              opacity: 1;
              transform: scale(1);
              outline: none;
            }

            /* disabled checkbox */

            [type="checkbox"]:disabled:not(:checked) + label:before,
            [type="checkbox"]:disabled:checked + label:before {
              box-shadow: none;
              border-color: #bbb;
              background-color: #ddd;
              outline: none;
            }

            [type="checkbox"]:disabled:checked + label:after {
              color: #999;
              outline: none;
            }

            [type="checkbox"]:disabled + label {
              color: #aaa;
              outline: none;
            }

            /* accessibility */

            [type="checkbox"]:checked:focus + label:before,
            label:hover:before,
            label:active,
            label:focus,
            input,
            input[type="checkbox"],
            label,
            input:focus,
            input:active,
            input[type="checkbox"]:active,
            input[type="checkbox"]:focus {
              outline: none;
            }

            a {
              cursor: pointer;
              color: #f28c17;
              padding: 0 5px;
              height: 20px;
              text-decoration: underline;
            }
          }

          .checkboxs {
            input[type="checkbox"] {
              background: #fff;
            }

            display: flex;
            align-items: center;

            p {
              color: #f28c17;
              margin: 0 10px 0 0;
            }

            span {
              margin-right: 3px;
              display: flex;
              align-items: center;
            }
          }

          button {
            width: 100%;
            border: none;
            outline: none;
            color: #fff;
            margin-top: 15px;
            background: #f28c17;
            @media (max-width: 1479px) {
              margin-top: 10px;
            }
          }
        }

        .last {
          margin-right: 0;
        }

        input:focus, textarea:focus {
          background-color: #fffaf3;
          border: none;
          outline: none;
        }
      }

      .contacts-info {
        width: 40%;
        height: 100%;
        color: #8d8d8d;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 1479px) {
          font-size: 13px;
        }

        h2 {
          font-weight: 300;
          color: #f28c17;
        }

        .contacts {
          display: flex;
          flex-direction: column;

          .phones {
            display: flex;
            justify-content: space-between;
            margin-right: 30px;

            a:hover {
              color: #f28c17;
            }
          }
        }

        .social {
          p {
            margin: 0;
          }

          i {
            cursor: pointer;
            padding-right: 5px;
            font-size: 25px;
          }
        }
      }
    }

    .form-toggler {
      height: 90px;
      color: #fff;
      background-color: #f28c18;
      border: 0;
      border-radius: 0;
      -webkit-box-shadow: 15px 13px 17px -10px rgba(0, 0, 0, 0.26);
      -moz-box-shadow: 15px 13px 17px -10px rgba(0, 0, 0, 0.26);
      box-shadow: 15px 13px 17px -10px rgba(0, 0, 0, 0.26);

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        display: flex;
        align-items: center;
      }

      i {
        margin-left: 5px;
      }

      &:active {
        color: #fff;
        background-color: #f28c18;
        border: 0;
      }
    }

  }
}

// IMMOBILIEN
.wrap-filter-products {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 60px;
  display: flex;
  @media (max-width: 970px) {
    flex-direction: column;
  }
  @media (max-width: $screen-xs-min) {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .select {
    @media (max-width:  970px) {
      display: flex;
      align-items: center;
      margin-top: 30px;
    }
    .search-result {
      color: #7ea6de;
      margin-top: 15px;
      text-align: right;
      @media (max-width: 970px) {
        margin-top: 0px;
        margin-left: 10px;
      }
      @media (max-width: $screen-xs-min) {
        font-size: 15px;
      }
      @media (max-width: 357px) {
        width: 150px;
      }
    }
    .select2-selection.select2-selection--single {
      outline: none;
      height: 32px;
      width: 265px;
      border: 1px solid #7ea6de;
      @media (max-width: 1155px) {
        font-size: 12px;
      }
      @media (max-width: $screen-xs-min) {
        width: 200px;
      }

      .select2-selection__arrow {
        color: #7ea6de;
        display: flex;
        top: 2px;
        align-items: center;
        justify-content: center;

        b {
          display: none !important;
        }
      }

      .select2-selection__rendered {
        color: #7ea6de;
        padding: 0 8px;
      }
    }
  }
  .search-filters {
    width: 100%;
    .search-span {
      display: flex;
      flex-wrap: wrap;
      span {
        margin: 5px;
        position: relative;
        color: #fff;
        background: #2581c6;
        padding: 3px 8px;
        border-radius: 3px;
        i {
          cursor: pointer;
          padding-left: 10px;
        }
      }
      .delete-all {
        background: #fff;
        color: #2581c6;
        border: 1px solid #2581c6;
      }
    }
  }
}
.wrap-pagination {
  display: flex;
  justify-content: center;
  .page-link {
    border: 2px solid #fff;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ffffff;
    background-color: #3b7eb1;
  }
  .page-item {
    li {
      a {
        outline: none;
      }
    }
  }
  .page-item.active .page-link {
    z-index: 1;
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
}
.wrap-service {
  width: 700px;
  height: 400px;
  position: relative;
  margin: 100px auto;
  background: url(../assets/Main.png) no-repeat;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.38);
  background-size: cover;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 100px;
  @media (max-width: $screen-sm-min) {
    width: 100%;
    padding: 20px 70px;
  }
  @media (max-width: $screen-xs-min) {
    margin: 40px auto;
    padding: 20px 40px;
  }
  .gradient {
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    height: 130px;
    background: linear-gradient(to bottom,#3b7eb1,#ffffff00);
  }
  &__title {
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    h2 {
      font-weight: 300;
    }
    p {
      font-weight: 300;
      padding-top: 10px;
    }
  }
  button {
    width: 100%;
    max-width: 350px;
    outline: 0;
    color: #fff;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    align-items: center;
    height: 35px;
    justify-content: space-between;
    border-radius: 3px;
    background: #f28c17;
    border: 1px solid $color-white;
    @media (max-width: $screen-xs-min) {
      font-size: 13px;
    }
  }
}