//IMMOBILIEN BANNER
.main-list{
  width: 100%;
  max-height: 400px;
  height: 100vh;
  background: url('../assets/Main.png') no-repeat bottom;
  background-size: cover;
  position: relative;
  @media (max-width: $screen-xs-min) {
    max-height: 260px;
  }
  .gradient {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 200;
    height: 130px;
    background: linear-gradient(to bottom,#3b7eb1,#ffffff00);
    @media (max-width: 991px) {
      display: none;
    }
  }

}

// IMMOBILIEN
.wrap-filter-products {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 60px;
  display: flex;
  @media (max-width: 970px) {
    flex-direction: column;
  }
  @media (max-width: $screen-xs-min) {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .select {
    @media (max-width:  970px) {
      display: flex;
      align-items: center;
      margin-top: 30px;
    }
    .search-result {
      color: #7ea6de;
      margin-top: 25px;
      text-align: right;
      @media (max-width: 970px) {
        margin-top: 0px;
        margin-left: 10px;
      }
      @media (max-width: $screen-xs-min) {
        font-size: 15px;
      }
      @media (max-width: 357px) {
        width: 150px;
      }
    }
    .select2-selection.select2-selection--single {
      outline: none;
      height: 32px;
      width: 265px;
      border: 1px solid #7ea6de;
      @media (max-width: 1155px) {
        font-size: 12px;
      }
      @media (max-width: $screen-xs-min) {
        width: 200px;
      }

      .select2-selection__arrow {
        color: #7ea6de;
        display: flex;
        top: 2px;
        align-items: center;
        justify-content: center;

        b {
          display: none !important;
        }
      }

      .select2-selection__rendered {
        color: #7ea6de;
        padding: 0 8px;
      }
    }
  }
  .search-filters {
    width: 100%;
    h2{
      font-size: 40px;
      font-family: $font-family-century;
    }
    .search-span {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
      span {
        font-family: $font-family-century;
        margin: 5px;
        position: relative;
        color: #fff;
        background: #2581c6;
        padding: 3px 8px;
        border-radius: 3px;
        i {
          cursor: pointer;
          padding-left: 10px;
        }
      }
      .delete-all {
        background: #fff;
        color: #2581c6;
        border: 1px solid #2581c6;
      }
    }
  }
}
.wrap-pagination {
  display: flex;
  justify-content: center;
  .page-link {
    border: 2px solid #fff;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ffffff;
    background-color: #3b7eb1;
  }
  .page-item {
    li {
      a {
        outline: none;
      }
    }
  }
  .page-item.active .page-link {
    z-index: 1;
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
}
.wrap-service{
  font-family: $font-family-century;
  width: 1000px;
  height: 400px;
  position: relative;
  margin: 100px auto;
  background: url(../assets/Main.png) no-repeat;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.38);
  background-size: cover;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 130px;
  @media (max-width: 1100px) {
    width: 600px;
  }
  @media (max-width: $screen-sm-min) {
    width: 100%;
    padding: 20px 70px;
  }
  @media (max-width: $screen-xs-min) {
    margin: 40px auto;
    padding: 20px 40px;
  }
  .gradient {
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    height: 130px;
    background: linear-gradient(to bottom,#3b7eb1,#ffffff00);
  }
  &__title {
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    h2 {
      font-size: 50px;
      font-weight: 400;
      @media(max-width: $screen-xs-min){
        font-size: 28px;
      }
    }
    p {
      font-size: 25px;
      font-weight: 400;
      padding-top: 30px;
      @media(max-width: $screen-xs-min){
        padding-top: 10px;
        font-size: 18px;
      }
    }
  }
  button {
    width: 100%;
    max-width: 440px;
    outline: 0;
    color: #fff;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    align-items: center;
    height: 35px;
    justify-content: space-between;
    border-radius: 3px;
    background: #f28c17;
    border: 1px solid $color-white;
    @media (max-width: $screen-xs-min) {
      font-size: 13px;
    }
  }
}