@import './node_modules/reset-css/sass/reset';
@import './node_modules/bootstrap/scss/bootstrap';
@import './node_modules/font-awesome/scss/font-awesome';
@import './node_modules/select2/src/scss/core.scss';

@import 'fonts';
@import 'variables';

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	height: 100%;
}

body {
	color: $color-black;
	background: $color-white;
	font-family: $font-family-sans-pro;
}

.container {
	@media (min-width: 1480px){
		max-width: 1444px;
	}
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

.wrapper {
	margin: 0 auto;
	position: relative;
}
.wrap-container{
	background: transparent;
	-webkit-box-shadow: inset 0 23px 39px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0 23px 39px -9px rgba(0,0,0,0.75);
	box-shadow: inset 0 23px 39px -9px rgba(0,0,0,0.75);

}
.toolbar {
	height: 45px;
	color: $color-black;
	font-weight: 400;
	@media (max-width: 991px) {
		display: none !important;
	}
	ul {
		list-style: none;
		li {
			font-size: 18px;
			i {
				margin-right: 4px;
			}
			a {
				color: inherit;
			}
			&:not(:last-child) {
				&::after {
					content: '|';
					margin: 0 5px;
				}
			}
		}
	}
	.contacts {
		font-weight: 200;
		color: $color-white;
		a {
			i{
				padding-right: 5px;
			}
			span {
				font-weight: 300;
				padding-right: 5px;
			}
			&:hover {
				text-decoration: none;
				color: $color-white;
			}
			&:not(:last-child) {
				&::after {
					content: "|";
					padding: 0 5px;
				}
			}
		}
	}
	.social {
		font-weight: 200;
		color: $color-white;
		.link {
			text-decoration: none;
			a {
				i{
					padding-right: 5px;
				}
			}
			&::after {
				content: "|";
				padding: 0 5px;
			}
		}
		.select-wrap {
			.select2-selection.select2-selection--single {
				outline: none;
				background: none;
				border: none;
				.select2-selection__rendered{
					padding: 0 10px;
					span img {
						width: 20px;
					}
				}
				.select2-selection__arrow {
					top: 4px;
					left: 35px;
					b {
						display: none;
					}
				}
			}
		}
	}
}

.select2-search--dropdown {
	display: none !important;
}

.select2-dropdown {
	border-radius: 0 !important;
}

.select2-results {
	.select2-results__option {
		display: flex;
		font-size: 13px;
		justify-content: center;
		img {
			width: 20px !important;
		}
	}
}

.wrap-menu {
	position: relative;
	background: #ffffff;
	-webkit-box-shadow: 0 1px 7px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 7px 1px rgba(0,0,0,0.3);
	box-shadow: 0 1px 7px 1px rgba(0,0,0,0.3);
	.dropdown-toggle:after{
		border: none;
		color: #4c84d2;
		display: inline-block;
		vertical-align: 0;
		font-family: FontAwesome, serif;
		content: "\f107";
	}
	@media (max-width: 991px) {
		.dropdown-toggle:after{
			border: none;
			color: #4c84d2;
			display: inline-block;
			vertical-align: 0;
			font-family: FontAwesome, serif;
			content: "\f107";
			position: absolute;
			right: 0;
		}
	}
}

.dropdown-menu {
	border: none;
	border-radius: 0;
	top: 72px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 10px 0 0 0;
	background: rgba(255,255,255, 0.7);
	-webkit-box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.22);
	-moz-box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.22);
	box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.22);
	@media (max-width: 991px) {
		background: #fff;
	}
}

.navbar-nav .dropdown-menu {
	@media (max-width: 991px) {
		position: inherit;
		top: 0;
	};
}

.dropdown-menu.show {
	@media (max-width: 991px) {
		display: block;
		box-shadow: none;
		padding: 0;
		margin: 5px 0;
	};
}

.dropdown-item {
	padding: 5px 10px;
	border-bottom: 1px solid #cfd7e0;
	@media (max-width: 991px) {
		border-bottom: none;
		padding: 5px 30px;
		color: #7f7f7f;
	};
}

.navbar-light .navbar-nav .active> .nav-link {
	color: #4c84d2;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #4c84d2;
}

.navbar-brand {
	img {
		width: 380px;
	}
	@media (max-width: $screen-sm-max) {
		img {
			width: 300px;
		}
	}
	@media (max-width: $screen-xxs-max) {
		img {
			width: 200px;
		}
	}
}

.navbar-light .navbar-toggler {
	border: none;
}

.navbar-toggler:focus, .navbar-toggler:active {
	outline: none;
	box-shadow: none;
}

.navbar-collapse.collapse {
	@media (max-width: 991px) {
		transform: translateX(100%);
		transition: transform 0.3s ease;
		ul {
			padding: 0 10px;
		}
		li {
			border-bottom: 1px solid #cfd7e0;
		}
	}
}

.navbar-collapse.collapse.show {
	transform: translateX(0);
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	z-index: 10;
	background: rgb(255, 255, 255);
}

.navbar-contacts {
	display: none;
	@media (max-width: 991px) {
		display: block;
		background: #b4b4b475;
		color: #565353;
		padding: 15px 0;
		width: 100%;
		margin-top: 15px;
	}
	.wrap-contacts {
		display: flex;
		justify-content: center;
	}
	.icons {
		@media (max-width: 991px) {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			padding: 5px 0;
			margin-right: 15px;
			i {
				span {
					font-family: $font-family-sans-pro;
					font-weight: 600;
					padding-left: 5px;
				}
			}
		}
	}
	.info {
		@media (max-width: 991px) {
			display: flex;
			height: 100%;
			justify-content: space-between;
			flex-direction: column;
		}
	}
}

.navbar-localization {
	display: none;
	@media (max-width: 991px) {
		display: block;
		-webkit-box-shadow: 0 7px 10px -7px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 7px 10px -7px rgba(0,0,0,0.3);
		box-shadow: 0 7px 10px -7px rgba(0,0,0,.3);
		.wrap-btn {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 20px;
				margin: 0 5px;
			}
		}
	}
}

.main {
	width: 100%;
	max-height: 998px;
	height: 100vh;
	background: url('../assets/Main.png') no-repeat;
	background-size: cover;
	position: relative;
	@media (max-width: 991px) {
		max-height: 600px;
	}
	.wrap-form {
		width: 100%;
		position: absolute;
		top:25%;
		left: 0;
		@media (max-width: 991px) {
			display: none;
		}
		.collapse.show {
			visibility: visible;
		}
		.collapsing {
			visibility: visible;
			height: 0;
			-webkit-transition-property: height, visibility;
			transition-property: height, visibility;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}
		.collapsing.width {
			-webkit-transition-property: width, visibility;
			transition-property: width, visibility;
			width: 0;
			height: 100%;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}
		.wrap-contacts {
			width: 100%;
			font-weight: 300;
			max-width: 800px;
			height: 490px;
			background: #f1e8e8;
			display: flex;
			@media (max-width: 1479px) {
				max-width: 650px;
			}
			.form-contacts {
				width: 60%;
				border-right: 1px solid #fff;
                margin: 15px;
				@media (max-width: 1479px) {
					font-size: 14px;
				}
				@media (max-width: 1199px) {
					width: 50%;
				}
              h2 {
				  font-weight: 300;
				  color: #f28c17;
				}
				.contact-form {
					color: #7a7376;
					overflow: hidden;
                    margin-right: 20px;
                    .wrap-name{
                      display: flex;
                      justify-content: space-between;
						input {
							border: none;
							height: 25px;
							width: 210px;
							padding: 5px;
							display: block;
							color: #4f484a;
							@media (max-width: 1479px) {
								width: 150px;
							}
						}
                    }
					label {
						font-weight: 600;
						display: flex;
						flex-direction: column;
						margin-bottom: 2px;
					}

					.input {
						input {
							border: none;
							height: 25px;
							width: 100%;
							padding: 5px;
							display: block;
							color: #4f484a;
						}
					}

					textarea {
						border: none;
						height: 110px;
						padding: 5px;
						display: block;
						color: #4f484a;
						margin-top: 5px;
					}
					.checkbox {
                      input[type="checkbox"] {
                        margin-right: 10px;
                      }
						a {
							cursor: pointer;
							color: #f28c17;
							padding: 0 5px;
							height: 20px;
							text-decoration: underline;
						}
					}
					.checkboxs {
						input[type="checkbox"] {
							background: #fff;
						}
						display: flex;
						align-items: center;
						p{
							color: #f28c17;
							margin:0 10px 0 0;
						}
						span {
							margin-right: 3px;
							display: flex;
							align-items: center;
						}
					}
					button {
						width: 100%;
						border: none;
						outline: none;
						color: #fff;
						margin-top: 5px;
						background: #f28c17;
						@media (max-width: 1479px) {
							margin-top: 10px;
						}
					}
				}

				.last {
					margin-right: 0;
				}

				input:focus, textarea:focus
				{
					background-color: #fffaf3;
					border: none;
					outline: none;
				}
			}
			.contacts-info {
				width: 40%;
				height: 100%;
				color: #8d8d8d;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				@media (max-width: 1479px) {
					font-size: 13px;
				}
				h2 {
					font-weight: 300;
					color: #f28c17;
				}
				.contacts {
					display: flex;
					flex-direction: column;
					.phones {
						display: flex;
						justify-content: space-between;
						margin-right: 30px;
						a:hover {
							color: #f28c17;
						}
					}
				}
				.social {
					p {
						margin: 0;
					}
                    i {
                      padding-right: 5px;
                      font-size: 25px;
                    }
				}
			}
		}
		.form-toggler {
          	height: 90px;
			color: #fff;
			background-color: #f28c18;
			border: 0;
			border-radius: 0;
			-webkit-box-shadow: 15px 13px 17px -10px rgba(0,0,0,0.26);
			-moz-box-shadow: 15px 13px 17px -10px rgba(0,0,0,0.26);
			box-shadow: 15px 13px 17px -10px rgba(0,0,0,0.26);
			span{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%) rotate(-90deg);
				display: flex;
				align-items: center;
			}
          i {
            margin-left: 5px;
          }
			&:active{
				color: #fff;
				background-color: #f28c18;
				border: 0;
			}
		}
	}
	.badge {
		max-width: 400px;
      position: absolute;
      top: 70%;
      width: 100%;
      right: 10%;
      padding: 20px;
		border-radius: 0;
		font-weight: 300;
      background: #fff;
		-webkit-box-shadow: 11px 13px 13px -6px rgba(0,0,0,0.38);
		-moz-box-shadow: 11px 13px 13px -6px rgba(0,0,0,0.38);
		box-shadow: 11px 13px 13px -6px rgba(0,0,0,0.38);
		color: #8d8d8d;
		@media (max-width: 1199px) {
			max-width: 280px;
		}
		@media (max-width: 1160px) {
			right: 5%;
		}
		@media (max-width: 991px) {
			top: 20%
		}
		h2 {
			font-weight: 300;
			@media (max-width: 1479px) {
              font-size: 1.5rem;
			}
		}
		p {
			font-size: 20px;
			text-transform: uppercase;
			border-left: 2px solid #f28c17;
			padding: 0 10px;
			margin-bottom: 0;
			white-space: pre-wrap;
			@media (max-width: 1479px) {
				font-size: 13px;
			}
		}
	}
}
.section-search {
	z-index: 100;
	width: 100%;
	border-top: 2px solid #338ac9;
	background: #fff;
	margin-top: -60px;
	padding: 25px;
	-webkit-box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.43);
	box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.43);
	.section-select {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 991px) {
			flex-direction: column;
		}
		p {
			color: #837c7e;
			font-style: italic;
			margin: 0;
		}

		.wrap-from {
			width: 100%;
			display: flex;
			flex: 1;
			flex-direction: column;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				border-right: 1px solid #338ac9;
			}
		}

		.column {
			height: 65px;
			width: 1px;
			border: 1px solid #338ac8;
			margin: 0 40px;
			@media (max-width: 1479px) {
				margin: 0 20px;
			}
		}

		.wrap-search {
			.search {
				width: 295px;
				position: relative;
				padding: 10px 0;
				@media (max-width: 1479px) {
					width: 200px;
				}
				@media (max-width: 1199px) {
					width: 140px;
				}

				.text-input {
					outline: none;
					width: 100%;
					background-color: #ffffff;
					height: 32px;
					color: #338ac9;
					border: 1px solid #338ac9;
					padding-left: 17px;
				}

				::placeholder {
					color: #338ac9;
				}

				.search-button {
					background: #fff;
					border: 0;
					color: #338ac9;
					display: inline-flex;
					justify-content: center;
					padding: 0;
					position: absolute;
					top: 50%;
					right: 10px;
					width: 25px;
					height: 25px;
					transform: translate(0, -50%);
				}

				.search-button:focus {
					outline: none;
				}
			}
		}

		.wrap-selects {
			padding: 10px 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			@media (max-width: 991px) {
				flex-direction: column;
			}

			.select2-selection.select2-selection--single {
				outline: none;
				width: 165px;
				border: 1px solid #7ea6de;
				@media (max-width: 1479px) {
					width: 130px;
				}

				@media (max-width: 1199px) {
					width: 110px;
					font-size: 12px;
				}
				@media (max-width: 991px) {
					width: 100%;
				}

				.select2-selection__arrow {
					color: #7ea6de;
					display: flex;
					align-items: center;
					justify-content: center;

					b {
						display: none !important;
					}
				}

				.select2-selection__rendered {
					color: #7ea6de;
					padding: 0 8px;
				}
			}

			.wrap-btn {
				width: 100%;
				button {
					height: 28px;
					width: 100%;
					padding: 0;
					max-width: 165px;
					background: #f28c17;
					border-color: #f28c17;
					@media (max-width: 1479px) {
						width: 130px;
					}
					@media (max-width: 1199px) {
						width: 110px;
					}
					@media (max-width: 991px) {
						width: 100%;
					}

					i {
						padding: 0 10px;
					}

					span {
						padding-right: 10px;
					}
				}

				button:active {
					background: #f28c17;
					border-color: #f28c17;
				}
			}
		}
	}
	.filters {
		display: flex;
		justify-content: space-between;
		.filter-column {
			width: 100%;
			max-width: 165px;
			@media (max-width: 1479px) {
				width: 130px;
			}
			@media (max-width: 1199px) {
				width: 110px;
			}
		}
		.filter {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #837c7e;
			width: 100%;
			border-bottom: 1px solid #7ea6de;
			padding: 5px;
		}
	}
}